<%- include('./assets/header'); %>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>

    <style>
        body {
            font-family: 'Open Sans';
            background-color: #9C835F;
        }

        .text-vs {
            font-size: 100px;
            color: #BD0000;
        }

        .container-hand-items {
            align-items: center;
            justify-content: center;
            display: flex;
            margin-bottom: 300;
        }

        .card-hand {
            border-radius: 25px;
            height: 150px;
            width: 150px;
            align-items: center;
            justify-content: center;
            display: flex;
        }

        .card-hand:hover {
            background-color: #C4C4C4;
        }


        .card-reset {
            border-radius: 25px;
            height: 90px;
            width: 90px;
            align-items: center;
            justify-content: center;
        }

        .card-reset:hover {
            background-color: #C4C4C4;
        }

        .img-reset {
            width: 70px;
            height: auto;
        }

        .img-hand {
            width: 100px;
            height: auto;
        }

        .card-result {
            transform: rotate(-25deg);
            border-radius: 15px;
            background: #4C9654;
            color: white;
            height: 100px;
            width: 200px;
            align-items: center;
            justify-content: center;

        }
    </style>

    <div class="fixed-top m-4">
        <h2 class="text-white">
            Hai <%= name %>
        </h2>
        <a href="/" class="btn btn-sm btn-outline-light ">
            <span>HOME</span>
        </a>
        <a href="/account/history" class="btn btn-sm btn-outline-light ">
            <span>HISTORY</span>
        </a>
        <a href="/logout" class="btn btn-sm btn-outline-warning ">
            <span>LOGOUT</span>
        </a>
    </div>

    <div class="container">
        <div class="row text-center align-items-center justify-content-center" style="height: 100vh">
            <div class="col-3 ">
                <div class="row ">
                    <div class="col-12">
                        <h4 class=""><strong>PLAYER 1</strong></h4>
                    </div>
                    <div class="col-12 container-hand-items">
                        <a href="#" onclick="press(1);" class="">
                            <div class="card-hand d-flex ">
                                <div id="hand_p_1" class="card-hand">
                                    <img src="assets/img/capter4/hand_batu.png" class="img-hand ">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12  container-hand-items ">
                        <a href="#" onclick="press(2);">
                            <div class="card-hand d-flex ">
                                <div id="hand_p_2" class="card-hand">
                                    <img src="assets/img/capter4/hand_kertas.png" class="img-hand">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 container-hand-items ">
                        <a href="#" onclick="press(3);">
                            <div class="card-hand d-flex ">
                                <div id="hand_p_3" class="card-hand d-flex">
                                    <img src="assets/img/capter4/hand_gunting.png" class="img-hand">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-3 container-hand-items justify-content">
                <h1 id='text_vs' class="text-vs"><strong>VS</strong></h1>
                <div id='winner'>
                    <div class="card-result d-flex">
                        <div class="d-flex  justify-content-center">
                            <h4 id='winner_text' class="align-middle ">WHO WIN?</h4>
                        </div>
                    </div>
                </div>

                <div class="position-absolute bottom-0 start-5 translate-middle-y">
                    <a href="#" onclick="reset();" class="">
                        <div class="card-reset d-flex">
                            <img src="assets/img/capter4/icon_refresh.png" class="img-reset">
                        </div>
                    </a>
                </div>

                <!-- <div class="card-result position-absolute top-50 start-50 translate-middle"> -->
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <h4><strong>COM</strong></h4>
                    </div>
                    <div class="col-12 container-hand-items">
                        <div id="hand_com_1" class="card-hand ">
                            <img src="assets/img/capter4/hand_batu.png" class="img-hand">
                        </div>
                    </div>
                    <div class="col-12 container-hand-items">
                        <div id="hand_com_2" class="card-hand ">
                            <img src="assets/img/capter4/hand_kertas.png" class="img-hand">
                        </div>
                    </div>
                    <div class="col-12 container-hand-items">
                        <div id="hand_com_3" class="card-hand">
                            <img src="assets/img/capter4/hand_gunting.png" class="img-hand">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <script>
        const user_id = <%= user_id %>;

        let color_chose = '#C4C4C4';
        let color_unchose = '#00000000';
        let have_result = false;

        let hand_com_1 = document.getElementById('hand_com_1');
        let hand_com_2 = document.getElementById('hand_com_2');
        let hand_com_3 = document.getElementById('hand_com_3');

        let hand_p_1 = document.getElementById('hand_p_1');
        let hand_p_2 = document.getElementById('hand_p_2');
        let hand_p_3 = document.getElementById('hand_p_3');

        let text_vs = document.getElementById('text_vs');
        let winner = document.getElementById('winner');
        let winner_text = document.getElementById('winner_text');

        let result_text = ["DRAW", "PLAYER 1<br>WIN", "COM<br>WIN"];
        let hand_p = [null, hand_p_1, hand_p_2, hand_p_3];
        let hand_com = [null, hand_com_1, hand_com_2, hand_com_3];

        let hand = {
            'player': hand_p,
            'com': hand_com
        }

        reset();

        function reset() {
            have_result = false;
            card_hand(0, "com");
            card_hand(0, "player");
            winner.style.display = "none";
            text_vs.style.display = "block";
        }

        function press(you_chose) {
            console.log('Button has been pressed');
            if (have_result) { return; }

            have_result = true;
            let com_chose = getRandomInt(1, 3);
            let who_won = 0;
            let res = you_chose - com_chose;

            card_hand(com_chose, "com");
            card_hand(you_chose, "player");

            if (res != 0) {
                if (res < 2 && res > -2) {
                    if (you_chose > com_chose) {
                        who_won = 1;
                    } else {
                        who_won = 2;
                    }
                } else {
                    if (you_chose > com_chose) {
                        who_won = 2;
                    } else {
                        who_won = 1;
                    }
                }
            }

            winner_text.innerHTML = result_text[who_won];
            winner.style.display = "block";
            text_vs.style.display = "none";
            if (who_won == 1) {
                record_history(1)
            } else if (who_won == 2) {
                record_history(-1)
            } else {
                record_history(0)
            }
        }

        function card_hand(handChose, who) {
            for (let i = 1; i <= 3; i++) {
                hand[who][i].style.backgroundColor = color_unchose;
            }

            if (handChose > 0) {
                hand[who][handChose].style.backgroundColor = color_chose;
            }
        }

        function getRandomInt(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        function record_history(score) {
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/x-www-form-urlencoded");

            var urlencoded = new URLSearchParams();
            urlencoded.append("id", user_id);
            urlencoded.append("score", score);

            var requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: urlencoded,
                redirect: 'follow'
            }

            fetch("/api/history/record", requestOptions)
                .then(response => response.json())
                .then(result => {
                    console.log(result)
                })
                .catch(error => console.log('error', error));
        }


    </script>