<%- include('./assets/header'); %>


    <div class="container">
        <div class="mt-3 mb-4">
            <h2 class="text-dark">
                <%= name %>
            </h2>
            <a href="/" class="btn btn-sm btn-dark ">
                <span>HOME</span>
            </a>
            <a href="/game" class="btn btn-sm btn-dark ">
                <span>PLAY GAME</span>
            </a>
            <a href="/logout" class="btn btn-sm btn-warning ">
                <span>LOGOUT</span>
            </a>
        </div>

        <div class="card p-3">
            <b>Game History</b>
            <hr>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Time</th>
                        <th scope="col" class="text-center">Score</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<data.length; i++) {%>
                        <tr>
                            <th scope="row">
                                <%= i+1 %>
                            </th>
                            <td>
                                <!-- <%= data[i].createdAt %> -->
                                <%= moment(data[i].createdAt).format('DD-MM-YYYY HH:mm') %>
                            </td>
                            <td class="text-center">
                                <% if(data[i].score==1) { %>
                                    Win
                                    <% } else if(data[i].score==-1){ %>
                                        Lose
                                        <% } else { %>
                                            Draw
                                            <% } %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>